html,
body {
    position: fixed;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a2d39c;
}

.startView {
    background-color: #a2d39c;
    width: 100%;
    height: 100%;
    position: fixed;
}

.gameCanvas {
    border: 3px solid #000000;
    display: none;
    margin-top: 15px;
    margin-bottom: 5px;
}

.playButton {
    border: 3px outset black;
    background-color: black;
    height: 130px;
    width: 270px;
    font-size: 50px;
    /*font-family: "Courier New", Courier, monospace;*/
    font-family: 'Phatone', serif;
    color: #a2d39c;
    position: absolute;
    top: 45%;
    margin-left: -2.75em;
    box-shadow: 0px 0px 0px 5px #a2d39c, 0px 0px 0px 10px black;
    text-align: center;
}

.playButtonText {
    margin: auto;
}

.playButtonWrapper {
    text-align: center;
}

.scoreLabelWrapper {
    margin: auto;
}

.scoreLabel {
    display: none;
    color: black;
    font-family: 'Phatone', serif;
}

.gameOverLabel {
    font-family: 'Phatone', serif;
    color: black;
    margin: auto;
    font-size: 40px;
    width: 500px;
    display: none;
    background-color: #a2d39c;
    border: none;
    margin-top: 20%;
    text-align: center;
}

.scoreLabelGameOver {
    font-family: 'Phatone', serif;
    color: black;
    margin: auto;
    font-size: 35px;
    width: 500px;
    display: none;
    background-color: #a2d39c;
    border: none;
    margin-top: 25%;
    text-align: center;
}
