html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.startView {
    background-color: blue;
    width: 100%;
    height: 100%;
    position: fixed;
}

.gameCanvas {
    border: 1px solid #000000;
    display: none;
}

.startGameButton {
    /*margin: auto;*/
    /*display: block;*/
    /*margin-top: 100%;*/
    border: 1px outset blue;
    background-color: lightBlue;
    height: 50px;
    width: 100px;
    cursor: pointer;

    position: absolute;
    top: 50%;
    margin-left: -4.55em;
}

.startGameButtonWrapper {
    text-align: center;
}